<div
  appInfiniteScroll
  [hasMorePages]="hasMorePages()"
  (loadMore)="loadMore.emit()"
  class="flex flex-wrap gap-4 p-4 justify-center"
>
@for (movie of movies(); track movie.id) {
  <div
    class="cursor-pointer transition-transform duration-300 hover:-translate-y-2"
    routerLink="/movie-detail/{{movie.id}}"
  >
    <img
      [src]="movie.poster_path | tmdbImage"
      [alt]="movie.title"
      class="rounded-lg w-44 h-64 object-cover shadow-lg hover:shadow-2xl transition-shadow duration-300"
    />
  </div>
}
</div>
